{% extends 'requerimento/base.html' %}
{% block content %}
<div class="form">
    <p class="push">Preencha os campos abaixo com as informações necessárias para realizar o
    requerimento de um serviço da Prefeitura.</p>
    <div class="push cf">
        <form action="." method="post" class="form_dados">
            {% csrf_token %}
            {{ form }}
            <div class="clearfix"></div>
        <input type="submit" value="Enviar" id="contact-submit-btn" class="btn" />
        </form>
    </div>
</div>
{% endblock %}